# ==============================
# Angular
# ==============================
**/node_modules/
**/dist/
**/.angular/
**/.cache/

# ==============================
# Spring Boot / Maven
# ==============================
**/target/

# ==============================
# IDE
# ==============================
.idea/
*.iml
*.iws
*.ipr
.vscode/

# ==============================
# Environment / Secrets
# ==============================
.env
.env.*
!.env.example

application-local.properties
application-secret.properties

# ==============================
# Logs / Temporary
# ==============================
*.log
*.tmp
*.temp
*.swp

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db